<div class="row">
  <div class="col s12 center">
    <h1 class="light-blue-text">Your Chirps</h1>
  </div>
</div>

<div class="row">
  <div class="col s12 m4">
    <div class="card">
      <div class="card-image">
        <img src="<%= @user.image %>" class="responsive-img" alt="profile image">
      </div>
      <div class="card-content">
        <h4 class="center light-blue-text"><%= @user.username %></h4>
        <p>Name: <%= @user.first_name %> <%= @user.last_name %></p>
        <p>Contact: <%= @user.email %></p>
      </div>
      <% if @user.id != session[:id] %>
        <a href="/users/<%= @current_user.id %>/follow/<%= @user.id %>">Follow!</a>
      <% end %>
      <% if @user.id == session[:id] %>
        <div class="card-action">
          <a href="/users/<%= @user.id %>/edit">Settings</a>
        </div>
      <% end %>
    </div>
  </div>

  <% @user.chirps.each do |chirp| %>
    <div class="col s12 m8">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title"><%= @user.username %></span>
          <p><%= chirp.body %></p>
          <p class="light-blue-text">Likes: <%= @user.likes.size %></p>
        </div>
        <% if @user.id != session[:id] %>
          <div class="card-action">
            <a href="#">Chirpeet</a>
            <a href="#">Like</a>
            <a href="#">Comment</a>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<div class="center">
  <a href="/users" class="btn waves-effect waves-light light-blue">Back to Users</a>
</div>
